$header-font-size: 1em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

$pane-height: auto;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: none;
}

#outlet {
}

.full-pane {
  width: 100vw;
  height: $pane-height;
  display: table;
  vertical-align: middle;

  padding: 30px;
}

.splash {
  height: 95vh;
}

.v-centered {
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  h1 {
    font-size: 40px;
    line-height: 2em;
  }
}

.pane-break {
  height: 0px;
}

.scroll-to {
  height: 0px;
  position: relative;
  top: -50px;
}

.nav > li {
  margin-right: 30px;
}

.attribute-wrap {
  padding-top: 20px;

  .attribute {
    @extend .col-xs-12;
    @extend .col-sm-6;

    p {
      text-align: justify;
    }
  }
}

.page {
  padding-top: 50px;
}
