$header-font-size: 1em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

$pane-height: 95vh;

.group { @include pie-clearfix; }

body {
  -webkit-text-size-adjust: none;
}

#outlet {
}

.full-pane {
  width: 100vw;
  height: $pane-height;
  display: table;
  vertical-align: middle;

  padding: 30px;
}

.v-centered {
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.pane-break {
  height: 0px;
}

.scroll-to {
  height: 0px;
  position: relative;
  top: -50px;
}

