$blockquote: $type-border !default;
$sans: "Raleway", "Helvetica Neue", Arial, sans-serif !default;
$serif: "Raleway", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "Raleway", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;

// Fonts
.heading {
  font-family: $heading-font-family;
}

.sans { font-family: $sans !important; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body {
  line-height: 1.5em;
  color: $text-color;
  @extend .sans;
}

.full-pane > h1 {
  @extend .text-uppercase;
  @extend .sans;
}

.full-pane  p {
  font-size: 20px !important;
  @extend .sans;
}

.attribute p {
  letter-spacing: 2px;
}

.stand-out {
  font-weight: bolder;
  color: $badmonkey-green;
}

.call-out {
  @extend .stand-out;
  @extend .text-uppercase;
  letter-spacing: 5px;
}
