.attribute-wrap
  .attribute
    %h1{align: 'center', class: 'stand-out'}
      Curious

    %p
      I am a huge believer in <a href='https://en.wikipedia.org/wiki/Free_and_open-source_software'>Open Source Software</a> and beleive in the power of a community to build exceptional software.  I am always looking at new technologies and techniques to enhance the value and power of the applications I build.

  .attribute
    %h1{align: 'center', class: 'stand-out'}
      Determined

    %p
      I don't believe in "can't". There are always factors, yes. But I am determined to find solutions through new <em>#innovations</em>.  If you have an idea for a web application or SaaS product, then we'll work together to build it!

  .attribute
    %h1{align: 'center', class: 'stand-out'}
      Effective

    %p
      I work with an <a href='http://agilemanifesto.org/'>Agile</a> methodology that is divided up into 2-week sprints. We'll work closely the entire time iterating on your product very rapidly. This ensures that as we learn more together about your product/market fit, the product will evolve along with us.
