.attribute-wrap
  %p{ align: 'center', class: "lead" }
    I am a software engineer who specializes in building <span class='stand-out'>SaaS</span>  products.
  .attribute
    %h1{ align: 'center', class: 'stand-out' }
      Brand New Ideas

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu rhoncus lectus. Integer feugiat dignissim massa, eget aliquam justo scelerisque sed. Duis laoreet consectetur odio, nec placerat odio posuere in. Suspendisse quis interdum lacus. Aliquam blandit enim eget risus blandit ultrices a nec urna. Etiam risus nisi, ullamcorper quis lacus ac, pulvinar ultricies magna. Mauris mi sapien, tincidunt vitae ullamcorper a, volutpat sed lorem. Quisque luctus iaculis urna in iaculis. Aliquam et egestas lacus. Nam auctor quis turpis ac malesuada. Sed vel nunc dapibus, euismod orci vitae, tempor justo.

  .attribute
    %h1{align: 'center', class: 'stand-out'}
      Growth and Fit

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu rhoncus lectus. Integer feugiat dignissim massa, eget aliquam justo scelerisque sed. Duis laoreet consectetur odio, nec placerat odio posuere in. Suspendisse quis interdum lacus. Aliquam blandit enim eget risus blandit ultrices a nec urna. Etiam risus nisi, ullamcorper quis lacus ac, pulvinar ultricies magna. Mauris mi sapien, tincidunt vitae ullamcorper a, volutpat sed lorem. Quisque luctus iaculis urna in iaculis. Aliquam et egestas lacus. Nam auctor quis turpis ac malesuada. Sed vel nunc dapibus, euismod orci vitae, tempor justo.

  .attribute
    %h1{align: 'center', class: 'stand-out'}
      S.O.S.

    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu rhoncus lectus. Integer feugiat dignissim massa, eget aliquam justo scelerisque sed. Duis laoreet consectetur odio, nec placerat odio posuere in. Suspendisse quis interdum lacus. Aliquam blandit enim eget risus blandit ultrices a nec urna. Etiam risus nisi, ullamcorper quis lacus ac, pulvinar ultricies magna. Mauris mi sapien, tincidunt vitae ullamcorper a, volutpat sed lorem. Quisque luctus iaculis urna in iaculis. Aliquam et egestas lacus. Nam auctor quis turpis ac malesuada. Sed vel nunc dapibus, euismod orci vitae, tempor justo.

//max-width @ 500px
//max-height @ 350px;
//
//from 0 - 60 MVP dev
//  If you have an idea for a SaaS product, we'll work with you to design and build the initial version of your idea that is ready to be tested and iterated on in front of real world customers
//Growth/CD iteration
//  In the early stages of a SaaS startup, it is important to be able to iterate quickly while finding customer/market fit.  We work to quickly understand your product and vision and can iterate/pivot rapidly, helping you find that all-important fit before you're funding runs out
//Rescue troubled products
//  It happens.  Software projects fall off the rails all the time. (insert link to stufy showing 90% of software projects fail).  We're here when all looks lost to help you recover the product you invisioned and to get it back on track quickly
//Commited to learning and sharing
//  We at Bad Monkeys are commited to learning.  Learning about awesome SaaS products, new technologies, and even more about the ones we know.  We're also committed to sharing our knowledge to help the community through our blog, our speaking angagements, and our interactions through local developer groups
